body {
    margin: 0;
    font-size: 14px;
    background-color: #FFFFFF;
}

.main-section {
    position: relative;
    height: 1024px;
}

.background-black {
    position: absolute;
    height: 1024px;
    width: 100%;
    background-color: #212121;
    opacity: 0.5;
    z-index: 0;
}

.medium {
    object-fit: cover;
    height: 1024px;
    width: 100%;
}

.large {display: none}

.logo {
    position: absolute;
    width: 167px;
    height: 37px;
    top: 32px;
    left: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 30.4px;
    line-height: 37px;
    color: white;
}

.menu {
    position: absolute;
    top: 32px;
    right: 29px;
}

.hamburger-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4.38px;
}

.hamburger-menu img {
    width: 26.25px;
    height: 2.92px;
}

.navbar {display: none}

.intro-text-box {
    position: absolute;
    width: calc(314px + 286 * ((100vw - 375px) / (744 - 375)));
    top: 285px;
    margin-left: calc(32px + 40 * ((100vw - 375px) / (744 - 375)));
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.intro-rectangle {
    width: 90px;
    height: 15px;
    background-color: #FFFFFF;
}

.title {
    font-family: 'Libre Caslon Display', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(50px + 20 * ((100vw - 375px) / (744 - 375)));
    line-height: calc(62px + 25 * ((100vw - 375px) / (744 - 375)));
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FFFFFF;
}

.description {
    width: calc(314px + 214 * ((100vw - 375px) / (744 - 375)));
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.learn-more-button {
    width: 149px;
    height: 38px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
}

.news-section {
    width: 311px;
    --marginTop: calc(78px + 11 * ((100vw - 375px) / (744 - 375)));
    margin: var(--marginTop) auto 43px auto;
}

.news-title {
    width: calc(161px + 41 * ((100vw - 375px) / (744 - 375)));
    height: calc(29px + 7 * ((100vw - 375px) / (744 - 375)));
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: calc(24px + 6 * ((100vw - 375px) / (744 - 375)));
    line-height: calc(29px + 7 * ((100vw - 375px) / (744 - 375)));
    margin-bottom: calc(78px - 22 * ((100vw - 375px) / (744 - 375)));
}

#news-articles {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.article-1 {
    position: relative;
    height: 619px;
}

.article-2 {
    position: relative;
    height: 603px;
}

.article-3 {
    position: relative;
    height: 583px;
}

.article-img {
    height: 352px;
    border-radius: 4px;
}

.article-img img {
    height: 100%;
}

.article-info-box {
    position: absolute;
    top: 53.39%;
    width: 309px;
    height: 46.61%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    z-index: -1;
}

.article-info {
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 32px;
}

.article-date {
    width: 96px;
    height: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #B7B7B7;
    margin-bottom: 28px;
}

.article-description {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.article-1 .article-description{
    margin-bottom: 18px;
}

.article-2 .article-description{
    margin-bottom: 26px;
}

.article-3 .article-description{
    margin-bottom: 30px;
}

.read-more-link {
    width: 96px;
    height: 18px;
    float: right;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #D9852C;
}

@media screen and (min-width: 744px){
    .menu {
        right: 32px;
    }

    .intro-text-box {
        width: calc(600px + 148 * ((100vw - 744px) / (1440 - 744)));
        margin-left: 72px;
    }

    .title {
        font-size: calc(70px + 10 * ((100vw - 744px) / (1440 - 744)));
        line-height: calc(87px + 12 * ((100vw - 744px) / (1440 - 744)));
    }

    .description {width: 528px}

    .news-section {
        width: calc(600px + 696 * ((100vw - 744px) / (1440 - 744)));
        margin: 89px auto 61px auto;
    }

    .news-title {
        width: calc(202px + 67 * ((100vw - 744px) / (1440 - 744)));
        height: calc(36px + 12 * ((100vw - 744px) / (1440 - 744)));
        font-size: calc(30px + 10 * ((100vw - 744px) / (1440 - 744)));
        line-height: calc(36px + 12 * ((100vw - 744px) / (1440 - 744)));
        margin-bottom: calc(56px - 12 * ((100vw - 744px) / (1440 - 744)));
    }

    #news-articles {
        flex-direction: row;
        gap: 20px;
    }

    .article-1, .article-3 {
        height: 635px;
        width: calc(187px + 232 * ((100vw - 744px) / (1440 - 744)));
    }

    .article-2 {
        height: 635px;
        width: calc(186px + 233 * ((100vw - 744px) / (1440 - 744)));
    }

    .article-img {
        width: calc(187px + 232 * ((100vw - 744px) / (1440 - 744)));
    }

    .article-img img {
        width: 100%;
    }

    .article-info-box {
        width: calc(185px + 232 * ((100vw - 744px) / (1440 - 744)));
    }

    .article-info {
        height: 216px;
        width: calc(123px + 232 * ((100vw - 744px) / (1440 - 744)));
    }

    .article-date {
        margin-bottom: 0px;
        font-size: calc(13px + 2 * ((100vw - 744px) / (1440 - 744)));
        line-height: calc(16px + 2 * ((100vw - 744px) / (1440 - 744)));
        width: calc(96px + 14 * ((100vw - 744px) / (1440 - 744)));
        height: calc(16px + 2 * ((100vw - 744px) / (1440 - 744)));
    }

    .article-description {
        font-size: calc(15px + 10 * ((100vw - 744px) / (1440 - 744)));
        line-height: calc(18px + 12 * ((100vw - 744px) / (1440 - 744)));
        margin-top: calc(28px - 2 * ((100vw - 744px) / (1440 - 744)));
        margin-bottom: 0;
    }
    
    .read-more-link {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .medium {
        display: none;
    }

    .large {
        display: block;
        object-fit: cover;
        height: 1024px;
        width: 100%;
    }

    .menu {right: 27px}
    .hamburger-menu {display: none}

    .nav-link {height: 22px}
    .get-started {
        height: 38px;
        width: 149px;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        text-align: center;
        line-height: 36px;
    }

    .navbar {
        width: 724px;
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }

    .intro-text-box {
        width: 748px;
    }

    .title {
        font-size: 80px;
        line-height: 99px;
    }

    .news-section {
        width: 1296px;
    }

    .news-title {
        width: 296px;
        height: 48px;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 44px;
    }

    .article-1, .article-2, .article-3, .article-img{
        width: 419px;
    }

    .article-info-box {
        width: 417px;
    }

    .article-info {
        width: 355px;
    }

    .article-date {
        font-size: 15px;
        line-height: 18px;
        width: 110px;
        height: 18px;
    }

    .article-description {
        font-size: 25px;
        line-height: 30px;
        margin-top: 26px;
    }
}
